<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mitchell - About Me</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
      <div class="container-fluid">
        <div class="navbar-header" id="brand">
          <a class="navbar-brand" href="#">Mitchell</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about-me.html" class="active">About Me</a></li>
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              href="projects.html"
              >Projects<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="hello.html">Hello</a></li>
              <li><a href="mario.html">Mario</a></li>
              <li><a href="caesar.html">Caesar</a></li>
              <li><a href="cash.html">Cash</a></li>
              <li><a href="web.html">HTML</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="labs.html"
              >Labs<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="lesson-0-scratch.html">Lesson 0 - Scratch</a></li>
              <li><a href="lesson-1-c.html">Lesson 1 - C</a></li>
              <li><a href="lesson-2-arrays.html">Lesson 2 - Arrays</a></li>
              <li><a href="lesson-3-algorithms.html">Lesson 3 - Algorithms</a></li>
              <li><a href="lesson-4-memory.html">Lesson 4 - Memory</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="para" id="sect1-0">
      <div class="caption">
        <span class="border">
          About Me
        </span>
      </div>
    </div>
    <section class="content">
      <p>
        Hi, wellcome to my website! My name is Mitchell. I am a student at Our
        Lady of the Bay Catholic High School in Collingwood Ontario. I am
        currently taking a computer science course, and have experience with
        html, css, javascript and a little bit of python. A few of my hobbies
        include playing and building guitars, messing around with electronics,
        and messing around with personal computers. I am interested in linux,
        opensource operating systems and firmware and networking.
      </p>
      <br />
      <p>
        I plan to take a year off following the end of this school year to work
        and gain experience. I then plan to go to Conestoga College for a
        powerline technician program. The program length is two years and has a
        co op option, in which students earn on average ten thousand dollars per
        term.
      </p>
      <br />
      <p id="last">
        I have not quite made up my mind on what I will be doing for my cct. I
        have done web development before but have I know that this wil be a new
        challenge and I have never used databases. I am also interested in
        learning Swift. I do not have a mac but I know that a swift toolchain
        has been compiled for windows. I beleive I am leaning more towards swift
        since it will be an absolutly new language.
      </p>
    </section>
    <div class="para" id="sect1-1"></div>
    <section class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla
        quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
        mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
        Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad
        litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
        sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor.
        Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas
        mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas
        porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non,
        massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla
        metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque
        volutpat condimentum velit. Class aptent taciti sociosqu ad litora
        torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed
        lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a
        cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse
        potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum
        sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus
        suscipit. Sed lectus. Integer euismod lacus luctus magna. Quisque
        cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum
        magna augue eget diam.
      </p>
    </section>
    <div class="para" id="sect1-2"></div>
     <footer>
      <ul>
        <li><a href="about-me.html" class="text-decoration-none">About Me</a></li>
        <li><a href="contact.html" class="text-decoration-none">Contact</a></li>
        <li>
          <a href="privacy.html" class="text-decoration-none">Privacy and cookies</a>
        </li>
        <li>
          <a href="terms-and-conditions.html" class="text-decoration-none">Terms and Conditions</a>
        </li>
      </ul>
      <h3 id="fttg">
        Mitchell 2021
      </h3>
    </footer>
  </body>
</html>
