<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mitchell - Algorithms</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
      <div class="container-fluid">
        <div class="navbar-header" id="brand">
          <a class="navbar-brand" href="#">Mitchell</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about-me.html">About Me</a></li>
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              href="projects.html"
              >Projects<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="hello.html">Hello</a></li>
              <li><a href="mario.html">Mario</a></li>
              <li><a href="caesar.html">Caesar</a></li>
              <li><a href="runoff.html">Runoff</a></li>
              <li><a href="web.html">HTML</a></li>
            </ul>
          </li>
          <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="labs.html"
              >Labs<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="lesson-0-scratch.html">Lesson 0 - Scratch</a></li>
              <li><a href="lesson-1-c.html">Lesson 1 - C</a></li>
              <li><a href="lesson-2-arrays.html">Lesson 2 - Arrays</a></li>
              <li><a href="lesson-3-algorithms.html">Lesson 3 - Algorithms</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
   <div class="para" id="sect5-0">
      <div class="caption">
        <span class="border">
          Algorithms
        </span>
      </div>
    </div>
    <section class="content">
      <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Linear Search</h3>
          <h4>What is Linear Search?</h4>
          <p>
            Linear Search goes through and hecks every item in the list.
          </p>
          <p>
            This search is not an efficient search method becuase at the worst case it would go through the entire list.
          </p>
          <p>
             In this lab we had to finsih a function to complete the linear search.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/868dcdc26803b31c29fd5d34fae7b38d.js"></script>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wh">
          <h3>Bubble Sort</h3>
          <h4>What is Bubble Sort?</h4>
          <p>
            Bubble Sort is a sorting method which goes through a list of items and compares two side by side and sees if they are in order. 
            If they are not in order than the items are switched. This continues on until the list is in order.
          </p>
          <p>
            In this lab we had to finish writing the bubble sort function sop that it sorts the list correctly.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/29747e36ce348b9e9206aa7fb913ae48.js"></script>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Selection Sort</h3>
          <h4>What is Selection Sort?</h4>
          <p>
            Selection sort is a sorting method that goes though the entire list and finds the smallest number. It then swap it with the number at the front and then continues on until the list is sorted.
          </p>
          <p>
            In this lab we had to finish the function so that it was sorting properly.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/f1bc080b5d89aea56cf7f26db98c259f.js"></script>
        </div>
      </div>
    </div>
    </section>
    <div class="para" id="sect5-1"></div>
    <section class="content">
      <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Insertion Sort</h3>
          <h4>What is Insertion Sort?</h4>
          <p>
            Insertion sort is a sorting method that works by dividing the array into two parts sorted and unsorted.
          </p>
          <p>
            It goes through the list and finds a number that can be inserted in the array so that it is sorted.
          </p>
          <p>
            In this lab we had to complete the function so that it sorts the array properly.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/700fd88d376de117f772a8924fdf9eaa.js"></script>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wh">
          <h3>Binary Search</h3>
          <h4>What is Binary Search</h4>
          <p>
            Binary Search works by dividing the array into two, and then again, and agaiin until it finds the number.
          </p>
          <p>
            In this lab we had to finish the function so that it would search properly.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/4266a3f82305005069918d46b0ecbe6f.js"></script>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Models and Simulations</h3>
          <h4>What are Models and Simulations?</h4>
          <p>
            Models are the algorithms that catch what the program is doing.
          </p>
          <p>
            Simulations is the function/execution of the algorithms.
          </p>
          <p>
            In this lab we had to complete a few programs. One that simulations grade averages, and the monte hall problem.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/690e6aefa7b808c94895e4ce7d846db9.js"></script>
        </div>
      </div>
    </div>
    </section>
    <div class="para" id="sect5-2"></div>
    <footer>
      <ul>
        <li><a href="about-me.html" class="text-decoration-none">About Me</a></li>
        <li><a href="contact.html" class="text-decoration-none">Contact</a></li>
        <li>
          <a href="privacy.html" class="text-decoration-none">Privacy and ookies</a>
        </li>
        <li>
          <a href="terms-and-conditions.html" class="text-decoration-none">Terms and Conditions</a>
        </li>
      </ul>
      <h3 id="fttg">
        Mitchell 2021
      </h3>
    </footer>
  </body>
</html>
