<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mitchell - Arrays</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
      <div class="container-fluid">
        <div class="navbar-header" id="brand">
          <a class="navbar-brand" href="#">Mitchell</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about-me.html">About Me</a></li>
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              href="projects.html"
              >Projects<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="hello.html">Hello</a></li>
              <li><a href="mario.html">Mario</a></li>
              <li><a href="caesar.html">Caesar</a></li>
              <li><a href="runoff.html">Runoff</a></li>
              <li><a href="web.html">HTML</a></li>
            </ul>
          </li>
          <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="labs.html"
              >Labs<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="lesson-0-scratch.html">Lesson 0 - Scratch</a></li>
              <li><a href="lesson-1-c.html">Lesson 1 - C</a></li>
              <li><a href="lesson-2-arrays.html">Lesson 2 - Arrays</a></li>
              <li><a href="lesson-3-algorithms.html">Lesson 3 - Algorithms</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
   <div class="para" id="sect4-0">
      <div class="caption">
        <span class="border">
          C
        </span>
      </div>
    </div>
    <section class="content">
      <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Functions</h3>
          <h4>What are Functions?</h4>
          <p>
            Functions are like a set of insructions that perform actions. They take input and produce output.
          </p>
          <p>
            In this lab we had to creat a function that would take user input and only output if it was postive.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/bfcbbd3baa20620e92a198c595254704.js"></script>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wh">
          <h3>Arrays and Strings</h3>
          <h4>What are Arrays and Strings?</h4>
          <p>
            An array is a data structure that holds multiple values, such as ints and strings.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/3259008facc88d8e18c42e7fdf54bf37.js"></script>
          <p>
            Strings are an array of chars or just a word really.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/9942382292c103a473e077bac43d5f65.js"></script>
          <p>
            In this lab we had to finish the two programs. The string lab was supposed to print out each character of the given string on a new line.
          </p>
          <p>
            For the array lab we had to finish the program so that it take the hours spent on homework everyday and output in a new line.
          </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Command Line Interaction</h3>
          <h4>What are command line arguments?</h4>
          <p>
            Command line arguments are just strings or ints that are place after executing the program.
          </p>
           <script src="https://gist.github.com/M-Van-De-Vechte/5cf3138184061fe6ca53857574a88a64.js"></script>
          <p>
            In this lab we had to write a condition so that only if there were 2 command line arguments would the code say hello plus the second argument.
          </p>
        </div>
      </div>
    </div>
    </section>
    <div class="para" id="sect4-1"></div>
    <section class="content">
      <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Exit Codes</h3>
          <h4>What are Exit Codes?</h4>
          <p>
            Exit codes are just value that are rturned to allow the program to stop executing.
          </p>
          <p>
            In this lab we had to use exit codes instead of an if else statement to work with the correct number of arguments.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/4fb287569e0ea799ca689861fb30acf2.js"></script>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wh">
          <h3>Type Casting</h3>
          <h4>What is Type Casting?</h4>
          <p>
            Type Casting is when we nedd to cast one dat type to another data type, such as a float to an int.
          </p>
          <p>
            In this lab we had to convert a string to a char and then add one to it.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/836eea205a132111c6dd5aa5ba22787c.js"></script>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Bugs and Debugging</h3>
          <h4>What's the difference between logic and syntac errors?</h4>
          <p>
            Syntactical errors are when something is mispelled, not correctly styled or spaced.
          </p>
          <p>
            Logical errors are when the logic of the code is wrong
          </p>
          <p>
            In this lab we had to find the bug in the code and fix it. We also learned how to find bugs.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/748604dd765650c6a7050444e21690cf.js"></script>
        </div>
      </div>
    </div>
    </section>
    <div class="para" id="sect4-2"></div>
    <footer>
      <ul>
        <li><a href="about-me.html" class="text-decoration-none">About Me</a></li>
        <li><a href="contact.html" class="text-decoration-none">Contact</a></li>
        <li>
          <a href="privacy.html" class="text-decoration-none">Privacy and Cookies</a>
        </li>
        <li>
          <a href="terms-and-conditions.html" class="text-decoration-none">Terms and Conditions</a>
        </li>
      </ul>
      <h3 id="fttg">
        Mitchell 2021
      </h3>
    </footer>
  </body>
</html>
