<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mitchell - Home</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
      <div class="container-fluid">
        <div class="navbar-header" id="brand">
          <a class="navbar-brand" href="#">Mitchell</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about-me.html">About Me</a></li>
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              href="projects.html"
              >Projects<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="hello.html">Hello</a></li>
              <li><a href="mario.html">Mario</a></li>
              <li><a href="caesar.html">Caesar</a></li>
              <li><a href="cash.html">Cash</a></li>
              <li><a href="web.html">HTML</a></li>
            </ul>
          </li>
          <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="labs.html"
              >Labs<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="lesson-0-scratch.html">Lesson 0 - Scratch</a></li>
              <li><a href="lesson-1-c.html">Lesson 1 - C</a></li>
              <li><a href="lesson-2-arrays.html">Lesson 2 - Arrays</a></li>
              <li><a href="lesson-3-algorithms">Lesson 3 - Algorithms</a></li>
              <li><a href="lesson-4-memory.html">Lesson 4 - Memory</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    
    
    
   <div class="para" id="sect3-0">
      <div class="caption">
        <span class="border">
          C
        </span>
      </div>
    </div>
    <section class="content">
      <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Using the Terminal</h3>
          <h4>What did I learn?</h4>
          <p>
            In this lab I learned how to learn the terminal. I learned how to
            change directories, make files and folders and how to move and
            rename them.
          </p>
          <br />
          <p>
            Unfornutately since ths was the first lab we did not code, so here
            is a gif.
          </p>
          <img
            src="https://raw.githubusercontent.com/cs50nestm/cs50labs/2019/terminal/command_line_practice.gif"
            class="img-responsive"
            width="100%"
          />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wh">
          <h3>Syntax</h3>
          <h4>What is Syntax?</h4>
          <p>
            Syntax is a set of rules for how to properly use punctuation, words etc...
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/9853fa4bddc0bd5ad04e36d114973b41.js"></script>
          <p>
            In this lab we were tasked with fiing syntatical errors in this code.
            Without the proper syntax the code may not run properly.
          </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Variables</h3>
          <h4>What are variables?</h4>
          <p>
            A variable is like a container where data is stored. In math variables are unkown and are only named with one letter whereas in programming they are usually named with 
            more than one character.
          </p>
           <script src="https://gist.github.com/M-Van-De-Vechte/22af48829354a6dd71126f9cae08dc53.js"></script>
          <p>
            In the main function, there is a int variable called age that is set to the users input.
          </p>
        </div>
      </div>
    </div>
    </section>
    <div class="para" id="sect3-1"></div>
    <section class="content">
      <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Data Types</h3>
          <h4>What are Data Types?</h4>
          <p>
            Data types are a class that is distinct for a type of value that a variable holds.
          </p>
          <p>
            Data types include int, string, double, long, float, char and bool.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/cb147d5db237a116f5fc5cab356c710a.js"></script>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wh">
          <h3>printf Placeholders</h3>
          <h4>What are printf placeholders?</h4>
          <p>
            printf placholders are placeholders that are use to print specific variable types.
          </p>
          <p>
            In this lab we learned how to use printf Placeholders. We has to write a printf statement that would print multiple variables.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/244722dcee91525b048af03926246389.js"></script>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Operators</h3>
          <h4>What are operators?</h4>
          <p>
            Operators are use to perfom math functions. Some operators include "+, -, *  and /".
          </p>
          <p>
            In this lab we had to declare vvariables and assign the right operators to them.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/2af4e865a0836bd3724eada36d80ad1f.js"></script>
        </div>
      </div>
    </div>
    </section>
    <div class="para" id="sect3-2"></div>
    <section class="content">
      <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Boolean Expressions and Conditionals</h3>
          <h4>What are Boolean Expressions/Conddionals?</h4>
          <p>
            Boolean expression are for example my favourite hobby is playing guitar. It is either true or false.
          </p>
          <p>
            Conditional starment s are if or else. If my favourtie hobby is playing guitar then say "cool".
          </p>
          <p>
            In this lab we had to add a few conditional statements to make the code output a phrase that depends on the grade.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/fcf56b5e33d99686dfbea4bfe05c6658.js"></script>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 wh">
          <h3>While Loops</h3>
          <h4>What are while Loops and what are they use for?</h4>
          <p>
            A while loop is just a loop that can be used to repeat code as long as the condition is true.
          </p>
          <p>
            In this lab we learned how to utilize while loops. One example is that we learned how to make a forever loop by using the condition true.
          </p>
          <p>
            For this lab we had to finish the program so that it could print out how many times you could double a number before it reached 100.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/191556dd9ec9379e0c20a4ef913e675b.js"></script>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 aq">
          <h3>Do While Loops</h3>
          <h4>What are Do While Loops and how are they different?</h4>
          <p>
            Do while loops will always execute once and then if the condition is met than it will repeat again.
          </p>
          <p>
            In this lab we had to finish the program so that the program should only take a number between 1 and 10.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/cf669087cc668c4fe0b663825df70b2f.js"></script>
        </div>
      </div>
    </div>
    </section>
    <div class="para" id="sect3-3"></div>
    <section class="content">
      <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 aq">
          <h3>For Loops</h3>
          <h4>What are For Loops and what are they used for?</h4>
          <p>
            A for loop is just a loop that can be used to repeat somethiang n
            number of times. They are extremly handy especially for iterating
            through things.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/a2521e3ccb94322ffe4e3109b7c9f61c.js"></script>
          <p>
            This code has a loop. Within the loop there is the initialization of
            a variable, the condition that controls when the loop will stop, and
            the increment statement that increments it so it can loop.
          </p>
          <br />
          <p>
            This loop is initalized with a variable i, which starts at zero and
            will increment till one, it will continue while it is less than ten
            or till it reaches nine.
          </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 wh">
          <h3>Magic Numbers</h3>
          <h4>What are Magic Numbers and why not to use them?</h4>
          <p>
            Magic numbers are just numbers that are hard-written into code.
          </p>
          <p>
            It is not a good idea to use Magic Numbers because if we need to change it then we have to go through the entirity of the code to find. Instead it is better practice to use constants.
          </p>
          <p>
             In this lab we had to finish the program so that the magic numbers were changed to constants.
          </p>
          <script src="https://gist.github.com/M-Van-De-Vechte/bfc2f774f9eace145ecc0716bed88370.js"></script>
        </div>
      </div>
    </div>
    </section>
    <div class="para" id="sect3-4"></div>
    
    <footer>
      <ul>
        <li><a href="about-me.html" class="text-decoration-none">About Me</a></li>
        <li><a href="contact.html" class="text-decoration-none">Contact</a></li>
        <li>
          <a href="privacy.html" class="text-decoration-none">Privacy and cookies</a>
        </li>
        <li>
          <a href="terms-and-conditions.html" class="text-decoration-none">Terms and Conditions</a>
        </li>
      </ul>
      <h3 id="fttg">
        Mitchell 2021
      </h3>
    </footer>
  </body>
</html>
