<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mitchell - Scratch</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
      <div class="container-fluid">
        <div class="navbar-header" id="brand">
          <a class="navbar-brand" href="#">Mitchell</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about-me.html">About Me</a></li>
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              href="projects.html"
              >Projects<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="hello.html">Hello</a></li>
              <li><a href="mario.html">Mario</a></li>
              <li><a href="caesar.html">Caesar</a></li>
              <li><a href="runoff.html">Runoff</a></li>
              <li><a href="web.html">HTML</a></li>
            </ul>
          </li>
          <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="labs.html"
              >Labs<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="lesson-0-scratch.html">Lesson 0 - Scratch</a></li>
              <li><a href="lesson-1-c.html">Lesson 1 - C</a></li>
              <li><a href="lesson-2-arrays.html">Lesson 2 - Arrays</a></li>
              <li><a href="lesson-3-algorithms.html">Lesson 3 - Algorithms</a></li>
              <li><a href="lesson-4-memory.html">Lesson 4 - Memory</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="para" id="sect2-0">
      <div class="caption">
        <span class="border">
          Scratch
        </span>
      </div>
    </div>
    <section class="content">
      <iframe id="scratchEmb" src="https://scratch.mit.edu/projects/485170200/embed" allowtransparency="true" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </section>
    <div class="para" id="sect2-1"></div>
    <section class="content">
      <p>
        This is my scratch project. I have done scratch since I was in grade six but they have since add new features and updates so it was very fun to play with it again.
        I made a game where your decisions affect the outcome. I won't spoil the game but chose how you play wisely. I spent quite a bit of time on this game, but I really
        enjoyed it. I may end up making a much more refined version of this game on my own time with better animations and chachacters and choices. I believe that although
        making games where your decisions affect the outcome can be harder to make, there are more possibilities and will encourage the user to play again to try other endings and outcomes.
        <br>
        You can see some of the code I used to build this game below, or view the project <a href="https://scratch.mit.edu/projects/485170200">here</a>
        <br>
        The image below is in black and white to match the style and theme of the website, you can change it to color for easier reading with the button below
        or switch it back to black and white.
        <br>
        <br>
        <input type="button" value="Color" onclick="color()" id="clr">
      <input type="button" value="Black and White" onclick="bnw()" id="bnw">
      </p>
    </section>
    <div class="para" id="sect2-2" style="-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);"></div>
     <footer>
      <ul>
        <li><a href="about-me.html" class="text-decoration-none">About Me</a></li>
        <li><a href="contact.html" class="text-decoration-none">Contact</a></li>
        <li>
          <a href="privacy.html" class="text-decoration-none">Privacy and cookies</a>
        </li>
        <li>
          <a href="terms-and-conditions.html" class="text-decoration-none">Terms and Conditions</a>
        </li>
      </ul>
      <h3 id="fttg">
        Mitchell 2021
      </h3>
    </footer>
  </body>
</html>
