<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mitchell - Terms and Conditions</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
  </head>
  <body id="terms">
    <center>
      <h1>
        Terms and Conditions
      </h1>
    </center>
    <br>
    <h3>
      Section 1
    </h3>
    <p>
      Your privacy matters to us(No it doesn't). You may opt out of these conditions at any tme(No you may not).
      You are not allowed to ipersonate other users.  You are not allowed to hack this website.
      <br>
      You cannot use webscarpers or bots to grab info of this website. You may not post, edit, or upload to this website.
      <br>
      You can accept cookies or not becuase either way they will be installed. You cannot sue us, we are not a real company incase you have not noticed already.
      <br>
      We will responds to an inquires within 24hours(probably never we will just direct you to customer sevice, and they will foward you to other departments forever)
    </p>
    <br>
    <h3>
      Section 2
    </h3>
    <p>
      There are a bunch of regulations that go here but we are to lazy to put them in considering that most users never read them anyways.
      <br>
      Blah
      <br>
      Blah
      <br>
      Blah
      <br>
      We won't follow any regulations!
    </p>
    <br>
    <form onsubmit="home()">
      <label for="firstname">Firstname: </label>
      <input type="text" name="firstname" placeholder="John">
      <br>
      <label for="lastname">Lastname: </label>
      <input type="text" name="lastname" placeholder="Doe">
      <br>
      <h4>
        By agreeing to these terms and conditions you agree
      </h4>
      <input type="checkbox">
      I agree
      <input type="submit">
    </form>
  </body>
</html>
