<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mitchell - Mario</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
      <div class="container-fluid">
        <div class="navbar-header" id="brand">
          <a class="navbar-brand" href="#">Mitchell</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about-me.html" class="active">About Me</a></li>
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              href="projects.html"
              >Projects<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="hello.html">Hello</a></li>
              <li><a href="mario.html">Mario</a></li>
              <li><a href="caesar.html">Caesar</a></li>
              <li><a href="runoff.html">Runoff</a></li>
              <li><a href="web.html">HTML</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="labs.html"
              >Labs<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="lesson-0-scratch.html">Lesson 0 - Scratch</a></li>
              <li><a href="lesson-1-c.html">Lesson 1 - C</a></li>
              <li><a href="lesson-2-arrays.html">Lesson 2 - Arrays</a></li>
              <li><a href="lesson-3-algorithms.html">Lesson 3 - Algorithms</a></li>
              <li><a href="lesson-4-memory.html">Lesson 4 - Memory</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="para" id="sectW-0">
      <div class="caption">
        <span class="border">
          HTML
        </span>
      </div>
    </div>
    <section class="content">
      <h3>
        Basic HTML Page
      </h3>
      <p>
        This is my Basic HTML Page that I created. To view the code you can hit view source.
      </p>
      <div class="glitch-embed-wrap" style="height: 100vh; width: 100%;">
        <iframe
          src="https://glitch.com/embed/#!/embed/about-me-2021?path=index.html&previewSize=100"
          title="about-me-2021 on Glitch"
          allow="geolocation; microphone; camera; midi; vr; encrypted-media"
          style="height: 100%; width: 100%; border: 0;">
        </iframe>
      </div>
    </section>
    <div class="para" id="sectW-1"></div>
    <section class="content">
      <h3>
        Intro to Bootstrap
      </h3>
      <p>
        This is my Bootstrap page that I created. To view the code you can hit view source.
      </p>
      <!-- Copy and Paste Me -->
      <div class="glitch-embed-wrap" style="height: 100vh; width: 100%;">
        <iframe
          src="https://glitch.com/embed/#!/embed/materialistic-pebble-aerosteon?path=README.md&previewSize=100"
          title="materialistic-pebble-aerosteon on Glitch"
          allow="geolocation; microphone; camera; midi; vr; encrypted-media"
          style="height: 100%; width: 100%; border: 0;">
        </iframe>
      </div>
    </section>
    <div class="para" id="sectW-2"></div>
     <footer>
      <ul>
        <li><a href="about-me.html" class="text-decoration-none">About Me</a></li>
        <li><a href="contact.html" class="text-decoration-none">Contact</a></li>
        <li>
          <a href="privacy.html" class="text-decoration-none">Privacy and cookies</a>
        </li>
        <li>
          <a href="terms-and-conditions.html" class="text-decoration-none">Terms and Conditions</a>
        </li>
      </ul>
      <h3 id="fttg">
        Mitchell 2021
      </h3>
    </footer>
  </body>
</html>
